<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Sebastian Balion
    </h1>
    </section>
    <section class="stats">
      6IGR
    </section>
  </aside>
</div>